---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none px-12">Clique aqui</button>
</Layout>
